*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.container{
    width: 1024px;
    margin: auto;
}
.first{
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    height: 118px;
}
.logos{
    width: 250px;
    float: right;
    margin-top: 40px;
}
.logos img{
    opacity: 0.7;
}
.logos img:hover{
    opacity: 1;
}

 .second{
    border-top:  1px solid grey;
} 

.second li{
    display: inline-block;
    color: gray;
    padding: 4px;
}
.second li:hover{
  background-color: beige;
  opacity: 0.5;
}
.third{
    background-color: grey ;
    padding: 10px;
}
/* .rd{
    margin-bottom: 30px;
} */
.clearfix{
    clear: both;
}
.rd img{
    width: 100%;
    outline: 3px white;
    border: 3px;
}
/* .rd img:hover{
    opacity: 0.5;
} */
.topic1{
    width: 60%;
    margin: 15px;
    float: left;
    color: black;
}
.topic1 h1{
    margin-top: 20px;
    border-bottom:  1px solid white;
}
.topic1 p{
    text-align: justify;
    text-shadow: 3px;
    margin: 10px 0px;
}
.topic1 ul{
    padding-left: 25px;
}
.topic1 li{
    text-align: justify;
    margin-bottom: 10px;
}
.topic1 img{
    border: 2px solid whitesmoke;
    outline: 3px;
}
hr{
  width: 300px;
  text-align: center;
}
.topic2{
    width: 30%;
    margin: 15px;px;
    float: right;
    color: black;
}
.topic2 h1{
    margin: 20px;
    border-bottom:  1px solid white;
    /* margin-right:65px; */
    color: black;
    text-align: center;
}
.topic2 h2{
    color: goldenrod;
    text-align: center;

}
.topic2 h3{
    color: silver;
    text-align: center;
}
.topic2 p{
    color: black;
    text-align: justify;
}
.footer{
    text-align: center;
    border-top: 2px solid whitesmoke;
    padding-top: 10px;
}
.topic12{
    margin-top: 20px;
    /* margin-right:65px; */
    text-align: center;
    background-color: gray;
}
.topic12 h1{
    border-bottom: 1px solid white;
    text-align: left;
    color: gold; 
}
.topic12 p{
    color: black;
    padding: 15px;
    text-align:left;
}
.ip2{
    background-color: gray;
    text-align: center;
    margin: auto;
    /* padding: 30px; */
    width: 600px;
    height: 400px;
}
.ip2 img{
    border: 1px solid black;
    margin: 5px;
    padding: 3px black;
    outline-style: 10px solid  goldenrod;
    float: left;
}
.ip2 img:hover{
    opacity: 0.5;
}
.topic22{
    margin:  auto;
    /* margin-right:65px; */
    text-align: center;
    background-color: gray;
}
.topic22 p{
    color: black;
    text-align:justify;
    padding: 15px;
    border-bottom: 10px;
}
